<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <link rel="stylesheet" type="text/css" href="css/project.css">
    </head>
    <body>
        @RenderPage("~/Shared/_Header.cshtml")
        @RenderPage("~/Shared/_ServiceCataloge.cshtml")
        @RenderBody()
      
    </body>
</html>
